.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.todos__single {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background: #233583;
    color: #ffffff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

.todos__single--text {
    flex: 1;
    border: none;
    font-size: clamp(1.05rem, 8vw, 1.25rem);
}
.todos__single--text-done {
    color: #ffffff8a;
    font-size: clamp(1.05rem, 8vw, 1.25rem);
}
.todos__single--text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: clamp(1.05rem, 8vw, 1.25rem);
    cursor: pointer;
    transition: 0.2s;
    color: #ffffff;
    border-radius: 5px;
}
.icon:hover {
    color: #000000;
}
.icon:nth-child(1) {
    background: #ffbb01;
}
.icon:nth-child(2) {
    background: #e63509;
}
.icon:nth-child(3) {
    background: #09b809;
}

@media (max-width: 480px) {
    .todos__single--text, .icon {
        font-size: 1rem;
    }
}